.aterforsaljare-container {
  display: flex;
  height: 100%;

}

.aterforsaljare-image {
  flex:1.5;
}

.aterforsaljare-info {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aterforsaljare-info p {
  margin: 0;
}
