.access-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.access-container .access-image-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-bottom: 20px;
}

.access-container .access-image-container .access-image {
  width: 25%;
}

.access-container .access-image-container .access-image-katalog {
  width: 50%;
  margin: auto;
}

.access-container .access-image-container .access-info {
  width: 40%;
}

.access-container .access-info-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access-container .access-info-container p {
  text-align: center;
}

.access-container a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.access-container .access-info-container .katalog{
  width: 20%;
  padding: 20px 0;
}
