.bioteater-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 0px 0 30px 0;
}

.bioteater-container .bioteater-image{
  width: 65%;
  align-self: center;
}

.bioteater-container h3 {
  padding-top: 30px;
}

.bioteater-container a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.bioteater-container .bioteater-slut {
  display: flex;
  justify-content: space-between;
}

.bioteater-container .bioteater-slut .bioteater-slut-image {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.bioteater-container .bioteater-slut .bioteater-slut-info {
  width: 55%;
}

.bioteater-container .publik-tycker {
  font-style: italic;
}
