.musikforlag-container {
  width: 90%;
  display: flex;
  padding: 30px 0;
  margin: auto;
}


.musikforlag-container .musikforlag-image {
  width: 50%;
}

.musikforlag-container .musikforlag-info {
  width: 50%;
}

.padding-top {
  padding-top: 10px;
}

#musik-logga {
  width: 130px;
  padding: 10px 0;
}
